#app {
  .main-container {
    height: 100%;
    // min-height: 100%;
    transition: margin-left .28s;
    margin-left: $sideBarWidth;
    position: relative;
  }

  .sidebar-container {
    transition: width 0.28s;
    width: $sideBarWidth !important;
    background-color: $menuBg;
    height: 100%;
    position: fixed;
    font-size: 0px;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    overflow: hidden;

    .scrollbar-wrapper {
      overflow-x: hidden !important;
    }

    .el-scrollbar__bar.is-vertical {
      right: 0px;
    }

    .el-scrollbar {
      // height: 100%;
      height: calc(100% - 190px);
    }

    .is-horizontal {
      display: none;
    }

    a {
      display: inline-block;
      width: 100%;
      overflow: hidden;
    }

    .svg-icon {
      margin-right: 16px;
    }
  }

  .hideSidebar {
    .sidebar-container {
      width: 54px !important;
    }

    .main-container {
      margin-left: 54px;
    }

    // .submenu-title-noDropdown {
    //   padding: 0 !important;
    //   position: relative;

    //   .el-tooltip {
    //     padding: 0 !important;

    //     .svg-icon {
    //       margin-left: 20px;
    //     }
    //   }
    // }

    // .el-submenu {
    //   overflow: hidden;

    //   &>.el-submenu__title {
    //     padding: 0 !important;

    //     .svg-icon {
    //       margin-left: 20px;
    //     }

    //     .el-submenu__icon-arrow {
    //       display: none;
    //     }
    //   }
    // }

    // .el-menu--collapse {
    //   .el-submenu {
    //     &>.el-submenu__title {
    //       &>span {
    //         height: 0;
    //         width: 0;
    //         overflow: hidden;
    //         visibility: hidden;
    //         display: inline-block;
    //       }
    //     }
    //   }
    // }
  }

  // mobile responsive
  .mobile {
    .main-container {
      margin-left: 0px;
    }

    .sidebar-container {
      transition: transform .28s;
      width: $sideBarWidth !important;
    }

    &.hideSidebar {
      .sidebar-container {
        pointer-events: none;
        transition-duration: 0.3s;
        transform: translate3d(-$sideBarWidth, 0, 0);
      }
    }
  }

  .withoutAnimation {

    .main-container,
    .sidebar-container {
      transition: none;
    }
  }
}


// 菜单头部样式---start
// src/layout/components/Sidebar/Logo.vue
.sidebarLogoFade-enter-active {
  transition: opacity 1.5s;
}

.sidebarLogoFade-enter,
.sidebarLogoFade-leave-to {
  opacity: 0;
}

.sidebar-logo-container {
  position: relative;
  width: 100%;
  height: $pageNavbar;
  line-height: 50px;
  background: #F9FAFB;
  overflow: hidden;
  border-bottom: 1px solid #E5E7EB;

  & .sidebar-logo-link {
    display: flex !important;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;

    &.hideLogo {
      justify-content: flex-end;
    }

    & .sidebar-logo {
      width: 78px;
      height: 70px;
      vertical-align: middle;
      margin-left: 13px;

      &.scale {
        transform: scale(.7);
        margin-left: -14px;
      }
    }

    .hamburger-container {
      padding: 0 30px;
      cursor: pointer;

      &.hidden {
        display: none;
      }
    }
  }

  &.collapse {
    .sidebar-logo {
      margin-right: 0px;
    }
  }
}

// 菜单头部样式---end


// 菜单样式---start
// src/layout/components/Sidebar/Menu.vue
.sidebarLogoFade-enter-active {
  transition: opacity 1.5s;
}

.sidebarLogoFade-enter,
.sidebarLogoFade-leave-to {
  opacity: 0;
}

.sidebar-menu-container {
  width: 100%;
  background: #f9fafb;
  padding: 10px 22px;

  &.collapse {
    padding: 10px 0;

    &:hover {
      cursor: pointer;
      background-color: #F3F4F6;
    }
  }

  & .sidebar-logo-link {
    overflow: inherit !important;
    position: relative;

    .single-menu-item {
      height: 42px;
      align-items: center;
      display: flex;
      background-color: #f9fafb;
      font-size: 16px;
      font-family: PingFangSC-Medium, PingFang SC;
      color: #6c727f;
      cursor: pointer;
      border-radius: 6px;
      padding: 0 8px;

      &:hover {
        background-color: #e5e6e8;
      }
    }

    &.collapse {
      display: flex !important;
      align-items: center !important;
      flex-direction: column;
      height: 42px !important;
      position: relative;
      left: 2px;

      // &:hover {
      //   cursor: pointer;
      //   background-color: red;
      // }
      & .menu-icon {
        margin: 9px 0;
      }
    }
  }

  .menu-icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
  }
}

.sidebar-menu-container .el-collapse-item__header {
  background-color: #f9fafb;
  border-bottom: none;
  height: 42px;
  font-size: 16px;
  font-family: PingFangSC-Medium, PingFang SC;
  color: #6c727f;
  border-radius: 6px;
  padding: 0 8px;
  margin-bottom: 4px;

  &.is-active {
    color: #000B58;
  }

  &:hover {
    background-color: #e5e6e8;
  }
}

.sidebar-menu-container .el-collapse-item__header .el-collapse-item__arrow {
  margin: 0 0 0 auto;
}

.sidebar-menu-container .el-collapse-item__wrap {
  background-color: #f9fafb;
  border-bottom: none;

  .el-collapse-item__content {
    padding-bottom: 5px;

    .add-item {
      border: 1px solid #000B58;
      justify-content: center !important;

      &:hover {
        font-weight: 700;
        // border-width: 2px;

        i {
          font-weight: 700;
        }
      }

      i {
        font-size: 12px;
        margin-right: 6px;
      }
    }

    .menu-item {
      display: flex;
      align-items: center;
      height: 40px;
      padding: 0 12px;
      font-size: 14px;
      color: #000B58;
      background: #F3F4F6;
      border-radius: 8px;
      justify-content: space-between;
      margin-bottom: 10px;
      cursor: pointer;

      span {
        flex: 1;
        margin-right: 5px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      i {
        margin-left: 4px;
        transition: transform 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);

        /* 弹性过渡效果 */
        &:hover {
          transform: scale(1.5);
        }
      }

      &:hover {
        background-color: #e5e6e8;
        // color: #fff;
      }

      &.active {
        background-color: #000B58;
        color: #fff;
      }


    }
  }
}

.sidebar-menu-container .el-collapse {
  border: none;
}

// 菜单样式---end



// 菜单底部——————start
// src/layout/components/Sidebar/Navigation.vue
.sidebarLogoFade-enter-active {
  transition: opacity 1.5s;
}

.sidebarLogoFade-enter,
.sidebarLogoFade-leave-to {
  opacity: 0;
}

.sidebar-nav-container {
  height: 120px;
  display: flex;
  flex-direction: column;
  // position: absolute;
  // bottom: 0;
  width: 100%;
  background: #f9fafb;
  padding: 7px 0;
  overflow: hidden;
  border-top: 1px solid #e5e7eb;

  & .sidebar-logo-link {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 0 30px;

    &:hover {
      cursor: pointer;
      background-color: hsl(220, 6%, 90%);

      .sidebar-title {
        color: #000B58;
      }
    }

    &.user-dropdown {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    & .sidebar-title {
      font-size: 14px;
      font-family: PingFangSC-Medium, PingFang SC;
      display: inline-block;
      margin: 0;
      color: #6c727f;
      vertical-align: middle;
    }

    .el-dropdown {
      width: 100%;
      cursor: pointer;


      .el-dropdown-link {
        align-items: center;
        width: 100%;
        display: flex;
        justify-content: space-between;
        // line-height: 30px;
        font-size: 14px;
        font-family: PingFangSC-Medium, PingFang SC;
        color: #6c727f;
      }
    }
  }
}

.dropdown-item .el-dropdown-menu__item:focus,
.dropdown-item .el-dropdown-menu__item:not(.is-disabled):hover {
  background-color: hsl(220, 6%, 90%) !important;
  color: #000B58 !important;
}

// 菜单底部——————end